<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/burger_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title>Eat-da-Burger</title>
</head>

<body>
    <div class="background" style="background-color: palegoldenrod; width">


        <div>
            <img src="https://www.pngitem.com/pimgs/m/371-3717432_hamburger-clipart-burger-cute-hamburger-clip-art-hd.png"
                alt="clipartburger" style="width: 200px; height: 200px" class="center">
        </div>

        <br>

        <h1 style="text-align: center;
  font-family: monospace;
  font-size: xxx-large; color: maroon">Eat-Da-Burger!</h1>

        <br>
        <br>

        <h2 style="text-align: center;
  font-family: monospace;
  font-size: x-large; color: maroon">Burgers that haven't been devoured yet!</h2>

        <ul style="text-align: center;">
            {{#each burgers}}
            {{#unless devoured}}
            <div>{{id}}.{{burger_name}}</div>
            <div>
                <form class=" change-devoured">
                    <input type="hidden" class="burger_id" value={{id}}>
                    <button type="submit" class="btn btn-danger"> Devour It</button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
        </ul>

        <br>
        <br>


        <h2 style="text-align: center;
  font-family: monospace;
  font-size: x-large; color: maroon">Burgers that have been devoured!</h2>

        <ul style="text-align: center;">
            {{#each burgers}}
            {{#if devoured}}
            <input type="text" placeholder="{{id}}.{{burger_name}}" readonly>
            {{/if}}
            {{/each}}
        </ul>

        <br>


        <form class="create-form">
            <h2 style="text-align: center; font-family: monospace; font-size: x-large; color: maroon">Add a burger you'd
                like to devour!
                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="ca" name="name">
                </div>


                <button type="submit" class="btn btn-secondary"
                    style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Submit</button>
        </form>

    </div>

</body>

</html>